body {
    text-align: center;
}

.btn {
    width: 100%;
    margin: 3px;
    border-radius: 3rem;
}

.jumbotron button {
    width: 30%;
}

.square {
    border-color: solid black;
    border-width: 3px;
    background-color: whitesmoke;
    height: 200px;
    width: 100%;
}

.game-board {
    width: 80%;
}